---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="About FGR">
  <Menu title="FGR" />
  <main class="md:ml-[100px] pt-[86px] md:mr-[86px] p-10">
    <div class="text-white">
      <!-- <h2>About us</h2> -->
      <h2 class="heading">
        Focus Group Radio or FGR (as it's commonly known) Started during the
        lockdowns as a weekly online radio program dubbed 'listening parties'.
        It has since grown into a rather diverse group: some musicians, some
        artists, all bonafide music nerds. FGR captured and connected folks
        across the world, united by a singular purpose - discovering great new
        music.
      </h2>
      <img src="/imgs/fgss_about.png" alt="About us" class="w-100 pt-10" />

      <p class="para mt-8">
        The radio embodied the spirit of the infamous ‘pirate radios’ from 90’s
        UK. These shows were accompanied by a chatroom on Discord where the
        listeners can nerd out on the music and the context around it. As the
        community grew, we found a cache of music nerds across the country that
        had an appetite to consume new and unexplored sounds.<br /> After the lockdowns
        were lifted, we took these radio shows from the virtual realm to the real
        world, while remaining true to our ethos of honest exploration and thematic
        cohesion. We hosted multiple 'live radio' shows at local clubs, filled with
        carefully curated music that defied the typical club scene. From the rhythmic
        African sounds of Fela Kuti to delving into the avant-garde no wave scene
        of 80s New York, we provided a refreshing and eclectic experience for our
        audience.
      </p>
      <p class="para mt-8">
        Additionally, we ventured into the realm of art and tech by
        collaborating with altermodern artists "Television Dust". The visual
        installation were made using footage from phone cameras and manipulating
        them with code in real-time. We explored this side further by handing
        out beautifully designed zines, posters, pamphlets, and stickers,
        courtesy of our talented design duo - MELD. <br />
        FGR's biggest asset is exploratory spirit that would rival most 15th century
        sea captains, but the real secret is, the artists we work with - Specifically
        our favourite - the aforementioned graphic design duo ‘MELD’ who have been
        with us in our journey of exploring the weird and wonderful and have been
        the main driving force of everything aesthetics and design for anything that
        comes from Focus Group Radio."
      </p>

      <p class="para mt-8 mb-20">
        Focus Group Radio embodies THAT rebellious DIY spirit, exploring the
        space between the unconventional and the wonderfully weird, while
        embracing everything in between. Over three years, we've built a
        like-minded community through radio sessions, live gigs, and diverse
        music and art curation. Together, we will continue our quest to
        appreciate and delve into all things peculiar and leftfield within the
        realms of music, art, and culture.
      </p>
    </div>
    <Contact />
  </main>
</Layout>

<style></style>
