---
import "../styles/global.css";

interface Props {
  title: string;
  class?: string;
}

import Analytics from '@vercel/analytics/astro'
const { title, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Focus group radio or FGR (as it's commonly known) started during the
  lockdowns as a weekly online radio program dubbed 'listening parties'. It has
  since grown into a rather diverse group; some musicians, some artists, all
  bonafide music nerds. Fgr captured and connected folks across the world,
  united by a singular purpose - discovering great new music."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;600;700;900&family=Asap:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="facebook-domain-verification"
      content="vrm1vburb4c2s4eia6qo61jvc6sug2"
    />
    <!-- Meta Pixel Code -->
    <script is:inline>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1903164293433727");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1903164293433727&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
    <!-- <script
      src="//widget.mixcloud.com/media/js/widgetApi.js"
      type="text/javascript"></script> -->

    <link rel="stylesheet" href="/layout.css" />
    <meta name="generator" content={Astro.generator} />
    <title>FGR | {title}</title>
  </head>
  <body class={className} >
    <slot />
    <script>
      import { Sidenav, initTE, Input } from "tw-elements";

      initTE({ Sidenav, Input });
    </script>
    <Analytics />
  </body>
</html>
